<div fxFlex fxLayoutAlign="center center">
  <mat-card fxFlex="90">
    <mat-card-title>Request</mat-card-title>
    <mat-card-subtitle>New request</mat-card-subtitle>

    <mat-card-content>
      <form [formGroup]="requestForm">
        <div fxLayout="row" fxLayoutGap="25px">

          <mat-form-field fxFlex="20">
            <mat-select placeholder="Method" formControlName="method">
              <mat-option *ngFor="let method of methods" [value]="method">
                {{ method }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="60">
            <input matInput
                   placeholder="URL"
                   type="url"
                   name="url"
                   (input)="parseUrl()"
                   formControlName="baseUrl">
            <mat-icon matSuffix (click)="toggleForm()">
              {{show ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
            </mat-icon>
          </mat-form-field>

          <button fxFlex="20"
                  mat-flat-button color="primary">Send</button>
        </div>

        <div *ngIf="show" formArrayName="urlParams">
          <div *ngFor="let workout of requestForm.get('urlParams').controls;  let i=index; let isLast = last" [formGroupName]="i">

            <div fxLayout="row" fxLayoutGap="25px" style="margin-left: calc(20% + 25px)">

              <mat-form-field fxFlex="20">
                <!-- TODO Позже вместо стиля добавить fxFlexOffset (Сейчас бага - issue github) -->
                <input matInput placeholder="Name" type="text" formControlName="name" (input)="addInput(isLast, 'urlParams')">
              </mat-form-field>

              <mat-form-field fxFlex="40">
                <input matInput placeholder="Value" type="text" formControlName="value" (input)="addInput(isLast, 'urlParams')">
              </mat-form-field>

              <button mat-icon-button (click)="removeInput(i, 'urlParams')">
                <mat-icon>indeterminate_check_box</mat-icon>
              </button>

            </div>

          </div>
        </div>





















        <mat-tab-group mat-stretch-tabs [selectedIndex]="2">
          <mat-tab label="Headers" formArrayName="headerParams">

            <div fxLayout="row"
                 fxLayoutGap="25px"
                 *ngFor="let header of requestForm.get('headerParams').controls; let i = index; let isLast = last"
                 [formGroupName]="i">
              <!-- TODO Позже вместо стиля добавить fxFlexOffset (Сейчас бага на issue github) -->

              <mat-form-field fxFlex="25">
                <input matInput placeholder="Name" type="text" name="name-{{i}}" formControlName="name" (input)="addInput(isLast, 'headerParams')">
              </mat-form-field>

              <mat-form-field fxFlex>
                <input matInput placeholder="Value" type="text" name="value-{{i}}" formControlName="value" (input)="addInput(isLast, 'headerParams')">
              </mat-form-field>

              <button mat-icon-button (click)="removeInput(i, 'headerParams')">
                <mat-icon>indeterminate_check_box</mat-icon>
              </button>
            </div>

          </mat-tab>

          <mat-tab label="Body">
            <p> comming son...</p>
          </mat-tab>

          <mat-tab label="Json OUT">
            <pre>{{ requestForm.value | json }}</pre>
          </mat-tab>
        </mat-tab-group>

      </form>
    </mat-card-content>
  </mat-card>
</div>
